/* Add CSS Styling */
.odd {
    background-color: lightpink;
    font-family: Verdana, DeyaVu Sans, sans-serif;
}
#two{
    color: blue;
    font-size: 36px;
}
.odd.ajust-font-size{
    font-size: 24px;
}
#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}